.profile {
    float:right;
    margin:0 auto;
    margin-bottom:20px;
    border:2px solid #8dc63f;
    box-sizing:initial;

    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.profile > img {
    border:5px solid #fff;
}
.profile, .profile > img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    width: 230px;
    height: 230px;
}

#about .intro div:nth-child(2) h1 {
    color:#333;
    font-weight:300;
    font-size:35px;
    margin:25px;
}
#about .intro div:nth-child(2) p {
    color:#555;
    line-height:1.5;
    font-size:22px; 
    margin-left:25px; 
    max-width:650px;
}
#about b {color:#222;}



@media all and (max-width: 568px) {
    .profile {
        float:none;
    }

    #about .intro div:nth-child(2) h1 {margin-left:10px;}
    #about .intro div:nth-child(2) p {margin-left:0px;}
}