::selection {
    color: #000;
    background-color: #8dc63f;
}

* {box-sizing:border-box;}

.clear {clear:both;}
.right {float:right;}
.left {float:left;}

body {
    font-family: helvetica;
    background-color: #fff;
    width: 100%;
    padding-top: 75px;  /* Should be the same as header outer height */
    min-height: 100%;
    min-width: 100%;
}

section:nth-of-type(even) {background-color: #f9f9f9;}

footer {
    height:60px;
    width:100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;

    -moz-box-shadow: 0 1px 5px 0px #333;
    -webkit-box-shadow: 0 1px 5px 0px #333;
    box-shadow: 0 1px 5px 0px #333;

    background: #3d4351;
    clear: both;
    z-index: 1000;

    border-top:5px solid #8dc63f;
}

nav {
    position: relative;
    height: 100%;
}
nav::after {content:"";display:table;clear:both;}
header nav {padding-right:5px;width:527px;}
#slide-menu nav {
    z-index:2500;
    width:100%;
}
nav a {
    display: block;
    float: left;

    padding:5px;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    text-decoration: none;
    color: #ccc;
    font-size: 20px;
}
header nav a {margin: 20px 0px 0px 5px;}
header nav a:not([href^="#"]) {margin-top:15px;}
#slide-menu nav a {margin: 10px 0 0 5%; width:84%;}

header nav a.active {margin-top: 19px;}
nav a.active {
    padding:5px;
    background: #8dc63f;
    font-weight:bold;
    color: #444;
}
nav a:not(.active):hover {
    color: #8dc63f;

    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);

    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    transition: all .25s;
    
    background-color: #252525;
}

.vertical-divider {
    float:left;
    margin:3px 0 0 5px;
    height:90%;
    width:0px;
    
    border-right:1px solid #1b212f;
    border-left:1px solid #5f6573;
}

.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .15;
    background-image: url("../img/texture-overlay.png");
}
header.overlay:after {height:70px;}

.fa {font-size:30px;}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}
.container::after {content:"";display:table;clear:both;}
header > .container {
    padding-left: 10px;
    z-index: 1500;
    height: 70px;}

.logo a {
    float: left;
    text-decoration: none;
}

/*.profile {
    float: left;
    margin-top: 5px;
    border:3px solid #8dc63f;
}
.profile, .profile > img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    width: 90px;
    height: 90px;
}*/

.profile, .profile > img {
    float: left;
    margin-top:5px;
    padding-right:5px;
    width: 30px;
    height: 45px;
}

.name {
    float: left;
    padding-left: 5px;
    margin-top: 20px;

    font-size: 29px;
    letter-spacing: 3px;

    -moz-text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow:0 1px 3px rgba(0, 0, 0, 0.5);

    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    transition: all .25s;

    color: #fff;
}

#slide-btn {
    width:50px;
    height:50px;

    margin:10px -5px 0 15px;

    cursor: pointer;
    text-decoration: none;
    color: #ccc;
    
    background:#8dc63f;
}
#slide-btn > div {
    position:relative;
    height:21px;
    width:25px;

    margin:15px auto 0 auto;

    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
#slide-btn .top-bar, #slide-btn .mid-bar, #slide-btn .bot-bar {
    position:absolute;
    width:100%;
    height:3px;
    background:#3d4351;

    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;

    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;

    -moz-transform:translate3d(0, 0, 0) rotate(0deg);
    -webkit-transform:translate3d(0, 0, 0) rotate(0deg);
    transform:translate3d(0, 0, 0) rotate(0deg);
}
#slide-btn .top-bar {top: 0px;}
#slide-btn .mid-bar {top: 9px;}
#slide-btn .bot-bar {bottom:0;}
.slide-out .top-bar {
    -moz-transform: translate3d(0, 9px, 0) rotate(45deg) !important;
    -webkit-transform: translate3d(0, 9px, 0) rotate(45deg) !important;
    transform: translate3d(0, 9px, 0) rotate(45deg) !important;
}
.slide-out .mid-bar {opacity: 0; !important;}
.slide-out .bot-bar {
    -moz-transform: translate3d(0, -9px, 0) rotate(-45deg) !important;
    -webkit-transform: translate3d(0, -9px, 0) rotate(-45deg) !important;
    transform: translate3d(0, -9px, 0) rotate(-45deg) !important;
}

#slide-menu {
    position: fixed;
    height: 100%;
    width: 160px;
    top: 70px;   /* Should be the same as header outer height minus border-top width */
    right: -160px;    /*Should be negative width*/

    border-top:5px solid #8dc63f;
    background: #3d4351;

    -moz-transition: all .7s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: all .7s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all .7s cubic-bezier(0.23, 1, 0.32, 1);

    z-index: 2000; /* Should be higher than header */
}
#slide-menu hr {
    position:relative;
    top:5px;
    margin-left:5%;
    width:90%;
    margin-bottom:0;
}

.slide-out #slide-menu {
    -moz-box-shadow: 0 5px 5px 0px #333;
    -webkit-box-shadow: 0 5px 5px 0px #333;
    box-shadow: 0 5px 5px 0px #333;

    -moz-transform: translate3d(-160px, 0, 0);
    -webkit-transform: translate3d(-160px, 0, 0);
    transform: translate3d(-160px, 0, 0);
}





/* for testing */
html,body {height:100%;}
section {
    /*min-height: 600px;*/
    height: calc(100%);
}




/********************************* Viewport styling *********************************/



.mobile-lg, .mobile-md, .mobile-sm {
    display:none;
}

/**** Extra styles for big screens *****/
@media all and (min-width: 930px) {
    /*Might not need this as default styles above are already for desktop*/
}

/************ Mobile Styles ***********/
@media all and (max-width: 930px) {
    .mobile-lg {display:initial !important;}
    .vertical-divider, header nav a:not([href^="#"]) {display:none;}
    header nav{width:376px;}

    /* For IE */
    div.mobile-lg {display:block !important;}
    span.mobile-lg {display:inline !important;}
}

@media all and (max-width: 767px) {
    .mobile-md {display:initial !important;}
    .name {margin-top:6px;}

    /* For IE */
    br.mobile-md {display:block !important;}
}

@media all and (max-width: 640px) {
    .mobile-sm {display:initial !important;}
    header nav a {display:none;}
    header nav {width:65px;}
    #slide-menu hr {display:block !important;}

    /* For IE */
    span.mobile-sm {display:inline !important;}
}